*{
    box-sizing: border-box;
    font-family: "Poppins"; 
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 151px;
    align-items: center;
}
.Container-div{
    display: flex;
    width: 437px;
    height: 24px;
    justify-content: space-between;
    align-items: center; 
}
.Container-div a{
    text-decoration: none;
    color: black;
}
.nav-menu{
    display: flex;
    align-items: center;
    width: 658px;
    justify-content: space-between;
}
.call{
    width: 173px;
    height: 52px;
    background-color: #efc38c;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F58A07;
    text-decoration: none;
}
.header img{
    width: 122px;
    height: 28px;

}
.background{
    /* background: url(https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/header-image.png) center / cover; */
    /* width: 1933px; */
    height: 636px;
    background-color: 
    #DCEAF5;
}
.banner{
    display: flex;
    justify-content: space-between;
    color:#1D3444;
    font-size: 24px;
}

.banner img{
    height: 636px;
    font-size: 300px;
}
.texta{
    color:#5B5B5B;
    font-size: 15px;
}




