* {
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  margin: 0% auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 28px;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: black;
}

.call {
  width: 173px;
  height: 52px;
  background-color: rgba(245, 138, 7, 0.1);
  border-radius: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f58a07;
  text-decoration: none;
}

.header img {
  width: 122px;
  height: 28px;
}

.background {
  /* background: url(https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/header-image.png) center / cover; */
  background-color: #dceaf5;
  height: 703px;
}

/* Banner start */
.banner {
  display: flex;
  justify-content: space-between;
  color: #1d3444;
  font-size: 24px;
  align-items: center;
  height: 703px;
}

.background .banner h1 {
  color: #1d3444;
  font-style: normal;
  font-weight: 600;
  font-size: 62px;
  line-height: 72px;

  letter-spacing: -0.03em;
}

.banner .content {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-top: 18px;
  margin-bottom: 32px;
  color: #5b5b5b;
}

/* banner end */

.services {
  color: #5b5b5b;
  font-size: 15px;
  display: flex;
  margin-top: 32px;
  margin-bottom: 56px;
  justify-content: space-between;
  width: 364px;
  height: 54px;
}

.services a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 106.5%;
}

.our {
  background-color: #f58a07;
  width: 199px;
  height: 54px;
  left: 314px;
  top: 449px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.company {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(57, 65, 73, 0.5);
  margin-bottom: 18px;
}

.logo {
  display: flex;
  justify-content: space-around;
  width: 510px;
  height: 33px;
  /* left: 314px;
  top: 607px; */
}

.logo:nth-child(0) {
  width: 143px;
}

.logo:nth-child(1) {
  width: 134px;
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d3444;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #1d3444;
  /* margin-left: 320px; */
  width: 1280px;
  height: 740px;
}

.we-help {
  font-weight: 600;
  font-size: 28px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #1d3444;
  width: 50%;
  margin-top: 96px;
}

/* .zurag {
    display: flex;
  } */
.help-text {
  display: flex;
  gap: 40px;
}

.lorem {
  width: 50%;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #5b5b5b;
  margin-top: 27px;
  margin-bottom: 64px;
  display: flex;
  justify-content: flex-end;
}

.zurag {
  border-radius: 20px;
  width: 399px;
  height: 242px;
  /* left: 321px;
  top: 1176px; */
}

.learnmore {
  text-decoration: none;
  color: #f58a07;
}

/* page3 */
.section-third {
  background: #edf7ff;
  /* width: 1920px; */
  height: 665px;
  margin-top: 96px;
}

.sectiontext {
  display: flex;
  padding-top: 96px;
}

.solution {
  font-size: 36px;
  font-weight: 600;
  height: 132px;
  color: #0d1317;
  width: 50%;
}

.solution-1 {
  width: 620px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #1d3444;
  width: 50%;
  padding-top: 10px;
}

.start {
  /* margin-left: 320px; */
  gap: 38px;
  margin-top: 64px;
  width: 1280px;
  height: 277px;
  display: flex;
}

.icon1 {
  width: 401px;
  height: 277px;
  border-radius: 20px;
  background-color: white;
  padding-left: 39px;
  padding-top: 48px;
  color: #1d3444;
}

.about-section {
  display: flex;
  height: 667px;
  gap: 47px;
  margin-top: 99px;
}

.about1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  height: 157px;
  width: 596px;
  left: 320px;
  top: 2550px;
  color: #0d1317;
}

.about2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 510px;
  height: 120px;
}

.item {
  display: flex;
  gap: 26px;
}

.item1 {
  width: 66px;
  height: 56px;
  font-size: 36px;
  line-height: 50px;
  color: #f58a07;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.item2 {
  /* width: 195px; */
  height: 26px;
  left: 320px;
  font-size: 24px;
  line-height: 25.56px;
  color: #0d1317;
}

.item3 {
  height: 84px;
  width: 264px;
  left: 320px;
  top: 3015px;
  color: #5b5b5b;
  font-size: 16px;
  line-height: 28px;
}

.image {
  height: 671px;
  width: 638px;
  left: 963px;
  top: 2480px;
}

.BG {
  background-color: #edf7ff;
}

.man {
  margin-top: auto;
}

.business {
  background-color: #edf7ff;
  height: 682px;
  margin-top: 99px;
  border-radius: 20px;
}

.strategy {
  margin-top: 56px;
  margin-left: 48px;
  gap: 48px;
  display: flex;
  flex-direction: row;
}

#neg {
  margin-top: 56px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 31px;
  border: 1px solid #a8bccc;
  color: rgba(6, 50, 85, 0.5);
  text-decoration: none;
}

#business {
  margin-top: 56px;
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 31px;
  color: #f58a07;
  text-decoration: none;
}

.businesstext {
  margin-left: 48px;
}

.businesstext1 {
  width: 572px;
  height: 168px;
  margin-top: 88px;
  font-size: 48px;
  line-height: 46px;
}

.businesstext2 {
  margin-top: 24px;
  width: 510px;
  height: 210px;
  font-size: 18px;
  line-height: 30px;
}

.businessbutton {
  margin-left: 48px;
}

#businessbutton {
  text-decoration: none;
  color: #f58a07;
}

.btext {
  display: flex;
  gap: 140px;
}

.bpic {
  width: 472px;
}

.cta {
  display: flex;
  height: 100%;
  margin-top: 128px;
}

.ctapic {
  background-image: url(//m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/experience-image.png);
  background-size: cover;
  width: 50vw;
  height: 50vh;
}

.ctatext {
  background-color: #f58a07;
  width: 50vw;
  height: 50vh;
}

.ctatext0 {
  margin-bottom: 128px;
  margin-left: 128px;
  width: 532px;
  height: 168px;
  color: white;
  font-size: 48px;
}

.seebutton {
  color: #f58a07;
  margin-bottom: 128px;
  height: 54px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  text-decoration: none;
  border-radius: 31px;
  margin-left: 128px;
}

.ctabutton {
  margin-left: 128px;
  padding-bottom: 128px;
  margin-left: 128px;
}

/* 6th page end  */

.Fin {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
  max-width: 1280px;
  margin: auto;
  margin-top: 128px;
}

.finsweetsection {
  height: 112px;
  width: 550px;
  left: 320px;
}

.container1 {
  max-width: 1280px;
}

.fintext1 {
  color: #0d1317;
  size: 48px;
  line-height: 56px;
  weight: 600px;
}
.fintext2 {
  font-size: 18px;
  color: #5b5b5b;
}
.finlogo {
  display: flex;
  gap: 48px;
}

#CEO {
  color: #f58a07;
}
.Name {
  margin-top: 40px;
}
.finpic {
  margin-top: 46px;
}
/* 7th Page end */
.back {
  background-color: #dceaf5;
  padding: 96px 0;
}
.we-help1 {
  max-width: 1280px;
  margin: auto;
}

.help-text1 {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0% auto;
}

.zurag1text {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.zurag1 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 0%;
  width: 100%;
}

.zurag1text h2 {
  margin-top: 0%;
}
.zurag1text {
  padding: 20px;
}
.article {
  width: 400px;
}
/*Footer start */
footer {
  background-color: #063255;
  height: 463px;
  position: relative;
}
footer::after {
  content: "";
  background-color: #f58a07;
  width: 53px;
  height: 287px;
  position: absolute;
  top: 53px;
  right: 0;
  border-bottom: 31px;
}

footer::before {
  content: "";
  background-color: #f58a07;
  width: 53px;
  height: 287px;
  position: absolute;
  bottom: 53px;
  left: 0;
  height: ;
  border-radius: 31px;
}
.container1280 {
  max-width: 1280px;
  margin: 0% auto;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.all-rights {
  margin-bottom: 80px;
}
.footercompany {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.Privacy {
  display: flex;
  max-width: 1280px;
  color: white;
  margin: 0% auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.linknuud {
  gap: 20px;
  display: flex;
}
.email {
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 18px;
}
.sub {
  color: white;
  background-color: #f58a07;
  padding: 10px 20px;
  border-radius: 30px;
}
