* {
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 151px;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: black;
}

.call {
  width: 173px;
  height: 52px;
  background-color: rgba(245, 138, 7, 0.1);
  border-radius: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f58a07;
  text-decoration: none;
}

.header img {
  width: 122px;
  height: 28px;
}

.background {
  /* background: url(https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/header-image.png) center / cover; */
  /* width: 1933px; */
  height: 636px;
  background-color: #dceaf5;
}
/* Banner start */
.banner {
  display: flex;
  justify-content: space-between;
  color: #1d3444;
  font-size: 24px;
  align-items: center;
}

.background .banner h1 {
  color: #1d3444;
  font-style: normal;
  font-weight: 600;
  font-size: 62px;
  line-height: 72px;

  letter-spacing: -0.03em;
}
.banner .content {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-top: 18px;
  margin-bottom: 32px;
  color: #5b5b5b;
}

/* banner end */

.services {
  color: #5b5b5b;
  font-size: 15px;
  display: flex;
  margin-top: 32px;
  margin-bottom: 56px;
  justify-content: space-between;
  width: 364px;
  height: 54px;
}
.services a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 106.5%;
}

.our {
  background-color: #f58a07;
  width: 199px;
  height: 54px;
  left: 314px;
  top: 449px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.company {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(57, 65, 73, 0.5);
  margin-bottom: 18px;
}

.logo {
  display: flex;
  justify-content: space-around;
  width: 510px;
  height: 33px;
  left: 314px;
  top: 607px;
}

.logo:nth-child(0) {
  width: 143px;
}

.logo:nth-child(1) {
  width: 134px;
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d3444;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #1d3444;
  margin-left: 320px;
  width: 1280px;
  height: 740px;
}

.we-help {
  font-weight: 600;
  font-size: 28px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #1d3444;
  width: 50%;
  margin-top: 96px;
}

/* .zurag {
  display: flex;
} */

.zuragnuud {
  display: flex;
  border-radius: 50px;
}

.lorem {
  width: 50%;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #5b5b5b;
  margin-top: 27px;
  margin-bottom: 64px;
}
