@font-face {
    font-family: 'Poppins';
    src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

* {
    box-sizing: border-box;
    border: 1px dashed rgba(221, 184, 184, 0.01);
    /* max-width: 1920px; */
    margin: 0 auto;
    
}

body {
    background: #FFFFFF;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* ---------------**Navbar start**----------------------- */

/* ---------------**Navbar end**----------------------- */
/* --------------------------header start--------------------- */
header {
    width: 100%;
    height: 703px;
    background-color: #DCEAF5;
    display: flex;
    

}

.container1 {
    display: flex;
    max-width: 1280px;
    
    
}

.header1 {
    /* width: 100%;
    height: 439px; */
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    position: relative;
    width: 600px;
    height: 500px;
    top: calc(35% - 100px);
    /* left: 45px; */


}

header h1 {
    display: flex;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -1.5px;
    color: #1D3444;
    width: 100%;
    position: relative;
    font-weight: 800;

}

#p1 {
    display: flex;
    width: 100%;
    padding-top: 10px;
}

.buttom-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 45px;
    padding-right: 200px;

}

.buttom-text a {
    display: flex;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: #F58A07;
    border-radius: 60px;
    width: 350px;
    height: 54px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);


}
.buttom a{
    color: #F58A07;
}
#mid-text {
    display: flex;
    color: #1D3444;
    align-items: center;
    justify-content: center;
    width: 350px;
}

#mid-text1 {
    display: flex;
    opacity: 0.5;
    color: #394149;
    font-weight: 400;
    font-size: 18;
    margin-top: 35px;
    margin-right: 328px;
}

.logo-set {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 100px;
    position: relative;
}

#logo1 {
    margin-top: 15px;
    margin-right: 50px;
}

#logo2 {
    margin-top: 15px;
    margin-right: 50px;
}

#logo3 {
    margin-top: 15px;
}

.main-image {
    width: 50%;
    background-repeat: no-repeat;
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 747px;
    height: 618px;
    left: 60px;
    top: 83px;
    border: 0px solid #000000;

}
/* --------------------------header end--------------------- */
/* --------------------------section start--------------------- */
section {
    display: flex;
    max-width: 1280px;
    height: 850px;
}

.sec-text {
    max-width: 1280px;
}

.sec-items {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 70px;
   
}

#sec-h1 {
    width: 65%;
    font-size: 36px;
    line-height: 56px;
    color: #1D3444;
    font-weight: 600;
    letter-spacing: -1.8px;
    margin-right: 600px;
}

#sec-p {
    width: 850px;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    font-weight: 500;
    margin-left: 0px;
    margin-top: 30px;
}

.main-02 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
    
    
}

.main-02-1 {
    display: flex;
    width: 33.3%;
    height: auto;
    flex-direction: column;
}

.main-02-2 {
    display: flex;
    width: 33.3%;
    height: auto;
    flex-direction: column;
}

.main-02-3 {
    display: flex;
    width: 33.3%;
    height: auto;
    flex-direction: column;
}

.main-02-1 img {
    display: flex;
    width: 399px;
    height: 242px;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 40px;
}
.main-02-2 img {
    display: flex;
    width: 399px;
    height: 242px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.main-02-3 img {
    display: flex;
    width: 399px;
    height: 242px;
    border-radius: 20px;
    margin-right: 0px;
    margin-left: 25px;
}

.main-02 h3 {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    letter-spacing: -0.9px;
}

.main-02 p {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #5B5B5B;
    padding-right: 30px;
}

.main-02 a {
    color: #F58A07;
    font-weight: 500;
    width: 100%;
    margin-top: 20px;
}
/* --------------------------section end--------------------- */
/* --------------------------blue section start--------------------- */
section-blue {
    /* max-width: 1920px; */
    width: 100%;
    height: 600px;
    background-color: #DCEAF5;
    display: flex;
    flex-direction: column;
}

.blue1 {
    display: flex;
    max-width: 1280px;
    width: 1280px;
}

.blue2 {
    display: flex;
    width: 1280px;
    /* margin-left: 10px; */
    margin-top: 40px;
    /* margin: 0 auto; */
    height: 200px;
}

.blue-text0 {
    display: flex;
    flex-direction: row;
    /* margin-left: 10px; */
    margin-top: 30px;
    height: 250px;
    /* left: -5px; */
    position: relative;

}

.blue-text {
    display: flex;
    align-items: flex-start;
    width: 630px;
    height: 150px;
}

.blue-text1 {
    width: 650px;
    height: 150px;
}

.blue-text h1 {
    display: flex;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1.3px;
    color: #0D1317;
}

.blue-text1 p {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    margin-left: 10px;
    margin-right: 10px;
    color: #1D3444;
}

.white-box {
    display: flex;
    flex-direction: row;
    width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
}

.white-box1 {
    width: 401px;
    height: 277px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin: 0%;
   
}

.white-box2 {
    width: 401px;
    height: 277px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin: 0%;
}

.white-box3 {
    width: 401px;
    height: 277px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin: 0%;
   
}

.white-box img {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.white-box h3 {
    margin-left: 30px;
    font-size: 600;
    color: #1D3444;
}

.white-box p {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #5B5B5B;
}
/* --------------------------blue section end--------------------- */
/* --------------------------about section start--------------------- */
.about-section {
    display: flex;
    width: 1280px;
    height: 580px;
    margin-top: 50px;

}

.about-section-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.about-section-text h1 {
    font-size: 48px;
    letter-spacing: -1.5px;
    color: #0D1317;
    margin-top: 50px;
    line-height: 56px;
    font-weight: 700;
}

.about-section-text p {
    line-height: 30px;
    font-size: 18px;
    color: #5B5B5B;
    font-weight: 500;
    margin-top: 30px;
}

.about-section img {
    height: 550px;
    border-radius: 20px;
}

#yellow-container {
    display: flex;
    height: 548px;
    width: 130px;
    background-color: #F58A07;
    position: relative;
    left: -198px;
    top: -556px;
    opacity: 0.7;
    border-radius: 20px 0 0 20px;
}

.about-section .about-box {
    display: flex;
    flex-direction: row;
    width: 578px;
    height: 200px;
}
.about-box{
    margin-left: 0%;
}

.about-box .box1 {
    width: 50%;
    margin-right: 5px;
    
}

.about-box h1 {
    font-size: 36px;
    color: #F58A07;
    margin-top: 20px;
    font-weight: 600;
}

.about-box h4 {
    font-size: 24px;
    font-weight: 600;
}

.about-box p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 5px;
    font-weight: 500;
}

.about-box .box2 {
    width: 50%;
    margin-left: 5px;
}

.service-outer {
    width: 1280px;
    height: 800px;
}
/* --------------------------about section end--------------------- */
/* --------------------------service section start--------------------- */
.service-inner {
    display: flex;
    width: 1280px;
    height: 700px;
    background-color: #EDF7FF;
    border-radius: 20px;
    margin-top: 50px;
    flex-direction: column;
    position: relative;
}

.service-inner img {
    display: flex;
    position: relative;
    width: 179px;
    height: 178px;
    left: 222px;
    top: -18px;
    /* margin-right: 00px; */
}

.service-button {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 40px;
    height: 40px;
}

.service-button .button a{
    width: 195px;
    height: 40px;
    border: 1px solid #A8BCCC;
    border-radius: 60px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(6, 50, 85, 0.5);
    font-weight: 600;
}

.service-button .button a:hover {
    background-color: #ffffff;
    color: #F58A07;
    font-weight: 600;
    border: 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.service-text {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 80px;
    position: relative;

}

.service-text h1 {
    font-size: 46px;
    font-weight: 600;
    color: #0D1317;
    line-height: 54px;
    width: 590px;
}

.service-text p {
    font-size: 18px;
    font-weight: 400;
    color: #5B5B5B;
    line-height: 30px;
    margin-top: 30px;
    width: 540px;
    margin-left: 0;
}

#team {
    width: 472px;
    height: 466px;
    display: flex;
    top: -470px;
    left: 320px;
}


.service-inner h6 {
    font-size: 16px;
    color: #F58A07;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 20px;
}

.service-inner::after {
    content: "";
    position: absolute;
    width: 179px;
    height: 178px;
    background-image: url(../images/Ribbon.png);
    background-repeat: no-repeat;
    z-index: 2;
    right: -17px;
    top: -17px;
}
#yell-container {
    /* display: flex; */
    height: 465px;
    width: 100px;
    background-color: #F58A07;
    position: relative;
    left: 135px;
    top: -935px;
    opacity: 0.7;
    border-radius: 20px 0 0 20px;
    z-index: 2;
}
/* ---------------------------service section end--------------------------------- */
/* ---------------------------cta section start--------------------------------- */
sta-section {
    display: flex;
    width: 1920px;
    height: 200px;
}

.cta-inner {
    display: flex;
    width: 1920px;
    height: 600px;
    flex-direction: row;
    align-items: center;
}

.cta-inner img {
    height: 521px;
    margin-left: 0px;
    margin-right: -1px;
}

.cta-container {
    display: flex;
    flex-direction: column;
    height: 519px;
    width: 1200px;
    background-color: #F58A07;
    z-index: 2;
    margin-left: -2px;
    margin-right: 0px;
}

.cta-container h1 {
    color: white;
    z-index: 2;
    margin-top: 130px;
    margin-left: 80px;
    width: 500px;
    height: 200px;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}
.cta-container a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #F58A07;

}

.cta-container .button {
    display: flex;
    width: 220px;
    height: 54px;
    background-color: white;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    color: #F58A07;
    margin-top: 30px;
    margin-left: 80px;

}

.cta-container .buttom:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
/* ---------------------------cta section end--------------------------------- */
/* ---------------------------video section start--------------------------------- */
video-section {
    display: flex;
    max-width: 1280px;
}

.vid-section-inner {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
}

.vid-text {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-left: 0%;
}

.vid-section-inner h1 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.9px;
    font-weight: 600;
    width: 550px;
    margin-left: 0%;
    margin-top: 60px;
}

.vid-section-inner p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    width: 550px;
    margin-left: 0%;
    margin-top: 30px;
    color: #5B5B5B;
}
.vid-img {
    display: flex;
    width: 620px;
    height: 501px;
    margin-left: 110px;

}

#auther{
    margin-top: 40px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
}
#auther h3{
    font-size: 24px;
    font-weight: 500;
    color: #063255;
    margin-left: 20px;
    height: 40px;
    margin-top: 7px;
}
#auther .test{
    display: flex;
    align-self: flex-end;
    position: relative;
    left: -145px;
    font-size: 18px;
    font-weight: 500;
    color: #F58A07;
    margin-bottom: 7px;
    
}
.play-i{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 480px;
    top: 420px;
    height: 51px;
    width: 51px;
    
}

.play-i p{
    color: white;
    width: 100px;
    position: relative;
    margin-bottom: 25px;
    margin-right: 90px;
    margin-left: 10px;
    font-size: 18px;
}
/* --------------------------video section end------------------------------------ */
/* --------------------------------lasted section start----------------------------- */
lasted-section{
    max-width: 1920px;
    margin-top: 0px;
}
.lasted-outer{
    /* max-width: 1920px; */
    height: 800px;
    background-color: #DCEAF5;
    
}
.lasted-inner{
    max-width: 1280px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;

}
.lasted-inner h1{
    margin-left: 0%;
    position: relative;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: -1.9px;
}
.lastbox{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    width: 100%;
    height: 507px;
    justify-content: space-between;

}
.lastbox1{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 507px;
    background-color: white;
    border-radius: 20px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 40px;
}
.lastbox2{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 507px;
    background-color: white;
    border-radius: 20px;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 40px;
}
.lastbox h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1.2px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.lastbox p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 28px;
    color: #5B5B5B;
}
.lastbox h6 {
    font-size: 16px;
    font-weight: 500;
    color: #F58A07;
    margin-top: 10px;
    margin-left: 12px;
}
#learn {
    font-size: 16px;
    font-weight: 600;
    color: #F58A07;
    margin-top: 10px;
    margin-left: 12px;
}
.lastbox img{
    width: 400px;
    left: -1px;
    top: -3px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    
}
.sub a{
    color: white;
}