h1 {
    text-align: center;
}

.myForm {
    border: 2px solid purple;
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input {
    width: 50%;
    margin-top: 8px;
    margin-top: 8px;
}

.gender-container {
    display: flex;
    width: 230px;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 5px;
}

textarea {
    margin-bottom: 10px;
    margin-top: 5px;
}