* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-menu {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6px;
    width: 40rem;
}

.container {
    max-width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}



.finsweet {
    margin-left: 0.42% 76.98% 99.15% 16.67%;
    display: flex;
    color: #063255;
    text-decoration: none;
    font-weight: 200;
    font-weight: bold;
    width: 122px;
    height: 28px;
    font-size: x-large;
}


.calltoaction {
    border: 2px solid rgba(245, 138, 7, 0.1);
    text-decoration: none;
    border-radius: 30px;
    padding: 0.8rem;
    background-color: rgba(245, 138, 7, 0.1);
}

a {
    color: #063255;
    text-decoration: none;
}


header {
    /* display: flex; */
    height: 60px;
    max-width: 70vw;
}

/*MAINNNNNNN*/

main {
    margin-top: 50px;
    margin-bottom: 50px;
}



.centeredcontainer {
    display: flex;
    margin: 0 auto;
    width: 70vw;
    flex-flow: column wrap;

}


.column2 {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5em;
}

.column3 {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5em;
    padding: 2em 5em 2em 3em;
    background-color: #c1e4ff54;
}


section {
    display: flex;
    margin: 0 auto;
    width: 70vw;
    flex-flow: row wrap;

}

.submit {
    display: inline-block;
    width: 6rem;
    background-color: #F58A07;
    border-radius: 20rem;
    text-align: center;
    padding-top: 0.5rem;
    height: 2.5rem;
}

.inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.inputbox {
    display: inline-block;
    background-color: rgba(210, 218, 237, 0.17);
    width: 34vw;
    border-radius: 2em;
    height: 3em;
    margin-top: 2em;
    padding-left: 1rem;

}

.inputboxbig {
    display: inline-block;
    background-color: rgba(210, 218, 237, 0.17);
    width: 100%;
    border-radius: 2em;
    height: 20em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 1rem;
    padding-top: 1.5rem;

}

/*SECTION-888888888888888888888888*/

#section-8 {}


.latestblog {
    width: 70vw;
    margin: 0 auto;

}

.container8 {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.latestblog {
    margin-top: 0;
}

.blog123 {
    display: inline-block;
    background-color:
        #EDF7FF;
    border-radius: 8% 8% 8% 8%;
    margin-bottom: 3rem;
    width: 21vw;
    height: 30rem;
}

.blog-1 {
    display: inline-block;
    width: 21vw;
    border-radius: 8% 8% 0 0;
}

.blogtext {
    padding-left: 5%;
    padding-right: 5%;
}

.learnmore {
    display: inline-block;
    padding-bottom: 2px;
}


/*FOOOTER-FOOOTER-FOOOTER-FOOOTER*/

footer {
    background-color: #063255;
    margin-top: 0;
    position: relative;
    height: 320px;
}

.finsweet1 {
    color: white;
}

.columnfooter {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col1footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 2rem 2rem 0 2rem;

}

.col2footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2rem;
}

.col2a {
    display: flex;
    flex-flow: column wrap;
    padding-right: 2.5rem;
}

.col2b {
    display: flex;
    flex-flow: column wrap;
}

.col3footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
}

.type-email-here {
    width: 100%;
    background-color: white;
    border-radius: 20rem;
}

.subscribe {
    display: inline-block;
    width: 8rem;
    background-color: #F58A07;
    border-radius: 20rem;
    text-align: center;
    padding-top: 0.5rem;
    height: 2.5rem;
}

.mailbox {
    display: inline-block;
    width: 20rem;
    background-color: #ffffff;
    border-radius: 20rem;
    padding: 1rem 0.5rem;
    height: 3rem;
    align-items: center;
}

.footerleft {
    display: inline-block;
    width: 2rem;
    border-top-right-radius: .7rem;
    color: #F58A07;
    height: 5rem;
    background-color: #F58A07;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footerright {
    display: inline-block;
    width: 2rem;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
    color: #F58A07;
    height: 10rem;
    background-color: #F58A07;
    position: absolute;
    right: 0;
    top: 3rem;
}

.foottxt {
    margin-bottom: 0;
    margin-top: 0;
}