* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    /* display: flex; */
    height: 60px;
    max-width: 70vw;
}

.nav-menu {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6px;
    width: 40rem;
}

.container {
    max-width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}



.finsweet {
    margin-left: 0.42% 76.98% 99.15% 16.67%;
    display: flex;
    color: #063255;
    text-decoration: none;
    font-weight: 200;
    font-weight: bold;
    width: 122px;
    height: 28px;
    font-size: x-large;
}


.calltoaction {
    border: 2px solid rgba(245, 138, 7, 0.1);
    text-decoration: none;
    border-radius: 30px;
    padding: 0.8rem;
    background-color: rgba(245, 138, 7, 0.1);
}

a {
    color: #063255;
    text-decoration: none;
}


/* SECTION-111111111111111111111 */


#section-1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
}

.prosper1 {
    display: inline-block;
    flex-flow: column wrap;
    width: 45%;
    margin: 0 auto;
    align-items: center;
}


.img1relative {
    display: inline-block;
    position: relative;
}

.img1 {
    display: inline-block;
    position: relative;
    border-radius: 2em;
    filter: grayscale(100%);
    width: 35em;
    height: 35em;

}

.img1border {
    position: absolute;
    height: 35em;
    width: 30%;
    left: 0em;
    top: 0em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    mix-blend-mode: multiply;
    background-color: #f58a07;
    filter: none;
}


.button1 {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
    border: 2px solid #F58A07;
    border-radius: 30px;
    background-color: #F58A07;
    border-width: 0.9rem;
    align-items: center;
}

/* SECTION-222222222222222222222 */


#section-2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container2 {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
    align-items: center;
}

.prosper2 {
    display: inline-block;
    flex-flow: column wrap;
    width: 45%;
    margin: 0 auto;
    align-items: center;
}

#section-2 .container2 .prosper2 h4 {
    display: block;
    margin-block-end: .33em;

}


.img2relative {
    display: inline-block;
    position: relative;
}

.img2 {
    display: inline-block;
    position: relative;
    border-radius: 2em;
    filter: grayscale(100%);
    scale: .8;

}

.img2border {
    position: absolute;
    height: 4em;
    width: 4em;
    left: 2em;
    top: 10em;
    border-radius: 1em;
    mix-blend-mode: multiply;
    background-color: #f58a07;
    filter: none;
}


/* SECTION-33333333333333333333333333*/

#section-3 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
    align-items: center;
}

.prosper3 {
    display: inline-block;
    flex-flow: column wrap;
    width: 45%;
    margin: 0 auto;
    align-items: center;
}

#section-3 .container3 .prosper3 h4 {
    display: block;
    margin-block-end: .33em;

}


.img3relative {
    display: inline-block;
    position: relative;
}

.img3 {
    display: inline-block;
    position: relative;
    border-radius: 2em;
    filter: grayscale(100%);
    scale: .8;

}

.img3border {
    position: absolute;
    height: 4em;
    width: 4em;
    right: 2em;
    bottom: 13em;
    border-radius: 1em;
    mix-blend-mode: multiply;
    background-color: #f58a07;
    filter: none;
}

/* SECTION-4444444444444444444444444444444*/


#section-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container4 {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
    align-items: center;
}

.prosper4 {
    display: inline-block;
    flex-flow: column wrap;
    width: 45%;
    margin: 0 auto;
    align-items: center;
}

#section-4 .container4 .prosper4 h4 {
    display: block;
    margin-block-end: .33em;

}


.img4relative {
    display: inline-block;
    position: relative;
}

.img4 {
    display: inline-block;
    position: relative;
    border-radius: 2em;
    filter: grayscale(100%);
    scale: .8;

}

.img4border {
    position: absolute;
    height: 4em;
    width: 4em;
    left: 2em;
    top: 13em;
    border-radius: 1em;
    mix-blend-mode: multiply;
    background-color: #f58a07;
    filter: none;
}

/* SECTION-55555555555555555555555555*/

#section-5 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container5 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
    align-items: center;
}

.prosper5 {
    display: inline-block;
    flex-flow: column wrap;
    width: 45%;
    margin: 0 auto;
    align-items: center;
}

#section-5 .container5 .prosper5 h4 {
    display: block;
    margin-block-end: .33em;

}


.img5relative {
    display: inline-block;
    position: relative;
}

.img5 {
    display: inline-block;
    position: relative;
    border-radius: 2em;
    filter: grayscale(100%);
    scale: .8;

}

.img5border {
    position: absolute;
    height: 4em;
    width: 4em;
    right: 2em;
    bottom: 13em;
    border-radius: 1em;
    mix-blend-mode: multiply;
    background-color: #f58a07;
    filter: none;
}

/* SECTION-66666666666666666666666666666*/


#section-6 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container6 {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
    align-items: center;
}

.prosper6 {
    display: inline-block;
    flex-flow: column wrap;
    width: 45%;
    margin: 0 auto;
    align-items: center;
}

#section-6 .container6 .prosper6 h4 {
    display: block;
    margin-block-end: .33em;

}


.img6relative {
    display: inline-block;
    position: relative;
}

.img6 {
    display: inline-block;
    position: relative;
    border-radius: 2em;
    filter: grayscale(100%);
    scale: .8;

}

.img6border {
    position: absolute;
    height: 4em;
    width: 4em;
    left: 2em;
    top: 22em;
    border-radius: 1em;
    mix-blend-mode: multiply;
    background-color: #f58a07;
    filter: none;
}

/* SECTION-7777777777777777777777*/


#section-7 {
    margin-top: 100px;
}

.imgscaled1 {
    display: inline-block;
    border-radius: 50%;
}

.imgscaled {
    display: flex;
    flex-flow: column;
    align-content: center;
}

.container3a {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
    align-items: center;
}

.prosper3a {
    display: inline-block;
    width: 45%;
}


.img7 {
    display: inline-block;
    width: 45%;
    position: relative;
    background-image: url(../images/video-image.png);
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-radius: 2em;
}

.img7a {
    padding: 0.9em;
    border-radius: 50%;
    border: 3.5px solid white;
    background-color: white;
}

.img7a:hover {
    border-color: blue;

}

.playvideo {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 10%;

}

.innerplaybutton:hover {
    background-color: blue;
    background-size: 150%;
}

/*SECTION-888888888888888888888888*/

#section-8 {
    background-color: #DCEAF5;

}


.latestblog {
    width: 70vw;
    margin: 0 auto;

}

.container8 {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.latestblog {
    margin-top: 15vh;
}

.blog123 {
    display: inline-block;
    background-color: white;
    border-radius: 8% 8% 8% 8%;
    margin-bottom: 3rem;
    width: 21vw;
    height: 30rem;
}

.blog-1 {
    display: inline-block;
    width: 21vw;
    border-radius: 8% 8% 0 0;
}

.blogtext {
    padding-left: 5%;
    padding-right: 5%;
}

.learnmore {
    display: inline-block;
    padding-bottom: 2px;
}

.latestblognews {
    padding-top: 2.5rem;
}

/*FOOOTER-FOOOTER-FOOOTER-FOOOTER*/

footer {
    background-color: #063255;
    margin-top: 0;
    position: relative;
    height: 320px;
}

.finsweet1 {
    color: white;
}

.columnfooter {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col1footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 2rem 2rem 0 2rem;

}

.col2footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2rem;
}

.col2a {
    display: flex;
    flex-flow: column wrap;
    padding-right: 2.5rem;
}

.col2b {
    display: flex;
    flex-flow: column wrap;
}

.col3footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
}

.type-email-here {
    width: 100%;
    background-color: white;
    border-radius: 20rem;
}

.subscribe {
    display: inline-block;
    width: 8rem;
    background-color: #F58A07;
    border-radius: 20rem;
    text-align: center;
    padding-top: 0.5rem;
    height: 2.5rem;
}

.mailbox {
    display: inline-block;
    width: 20rem;
    background-color: #ffffff;
    border-radius: 20rem;
    padding: 1rem 0.5rem;
    height: 3rem;
    align-items: center;
}

.footerleft {
    display: inline-block;
    width: 2rem;
    border-top-right-radius: .7rem;
    color: #F58A07;
    height: 5rem;
    background-color: #F58A07;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footerright {
    display: inline-block;
    width: 2rem;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
    color: #F58A07;
    height: 10rem;
    background-color: #F58A07;
    position: absolute;
    right: 0;
    top: 3rem;
}

.foottxt {
    margin-bottom: 0;
    margin-top: 0;
}