* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-menu {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6px;
    width: 40rem;
}

.container {
    max-width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}



.finsweet {
    margin-left: 0.42% 76.98% 99.15% 16.67%;
    display: flex;
    color: #063255;
    text-decoration: none;
    font-weight: 200;
    font-weight: bold;
    width: 122px;
    height: 28px;
    font-size: x-large;
}


.calltoaction {
    border: 2px solid rgba(245, 138, 7, 0.1);
    text-decoration: none;
    border-radius: 30px;
    padding: 0.8rem;
    background-color: rgba(245, 138, 7, 0.1);
}

a {
    color: #063255;
    text-decoration: none;
}


header {
    /* display: flex; */
    height: 60px;
    max-width: 70vw;
}


main {
    /* display: flex; */
    background-color: #DCEAF5;
    margin-top: 6px;
    letter-spacing: -0.03;
}

.container1 {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.prosper {
    display: flex;
    flex-flow: column wrap;
    width: 45%;

}


.container1 .img1 {
    display: flex;
    flex-flow: row wrap;
    background-color: #DCEAF5;
    scale: 0.8;
    width: 55%;
    align-self: flex-end;
    float: right;
    float: bottom;
}

h1 {
    width: 150%;
    font-size: 3.6rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
    line-height: 1em;

}

.see-buttons {
    display: flex;
    flex-flow: row wrap;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.button1 {
    border: 2px solid #F58A07;
    border-radius: 30px;
    background-color: #F58A07;
    border-width: 0.9rem;
    align-items: center;
}

.icon1 {
    width: 85%;
    scale: 0.75;
}

#section-1 {
    width: 70vw;
    margin: 0 auto;
    padding-top: 10px;
}

h2 {

    font-size: 3rem;
    line-height: 1em;
    font-weight: 600;
}

.post {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.post-1 {
    border-radius: 8.5%;
}

h3 {
    font-weight: 500;
}

#section-2 {
    margin-top: 50px;
    background-color: #EDF7FF;
    margin-bottom: 50px;
}

.part-2 {
    display: flex;
    flex-flow: row wrap;
    width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.part2a {
    display: inline-block;
    width: 50%;
    letter-spacing: -0.03em;
    line-height: 1.8em;

}

h4 {
    font-size: 2rem;
    font-weight: 600;
}

.part-3 {
    display: flex;
    flex-flow: row wrap;
    width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
}

.border-1 {
    display: inline-block;
    border-radius: 8.5%;
    background-color: white;
    padding: 1.8rem;
    margin-bottom: 2.5rem;
}

#section-3 {
    margin-top: 20px;
}

.container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
}

.prosper2 {
    display: inline-block;
    flex-flow: column wrap;
    width: 45%;
    margin: 0 auto;
    align-self: center;
}

.prosper2 .col2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.img2 {
    display: inline-block;
    flex-flow: column;
    width: 45%;
    border-radius: 5%;
    background-position: center;
    background-size: 80% 100%, cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #F58A07;
    background-image:
        url("https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/about-image.png");
}


.img2>h7 {
    height: fit-content;
    width: 10%;
    mix-blend-mode: multiply;
    background-color: #F58A07;
}

.img3 {
    background-image: url(../images/team.png);
}


#section-4 {
    display: inline-block;
    margin-top: 100px;
}

.card {
    display: flex;
    width: 70vw;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #EDF7FF;
}

#section-5 {
    margin-top: 100px;
}

.col3 {
    display: flex;
    flex-flow: row;
}

.img4 {
    display: inline-block;
    width: 50vw;
    height: 40rem;
}

.orangeback {
    display: inline-block;
    width: 50vw;
    height: 40rem;
    background-color: #F58A07;
    padding: 10% 0 0 10%;

}

.button2a {
    display: inline-block;
    background-color: white;
    border-radius: 1em;
    padding: 0.5em;
}

#section-6 {
    margin-top: 100px;
}

.imgscaled1 {
    display: inline-block;
    border-radius: 50%;
}

.imgscaled {
    display: flex;
    flex-flow: column;
    align-content: center;
}

.container3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
    align-items: center;
}

.prosper3 {
    display: inline-block;
    width: 45%;
}


.img6 {
    display: inline-block;
    width: 45%;
    position: relative;
    background-image: url(../images/video-image.png);
    background-size: cover;
    background-position: center;
    height: 25rem;
}

.img6a {
    padding: 0.9em;
    border-radius: 50%;
    border: 3.5px solid white;
    background-color: white;
}

.img6a:hover {
    border-color: blue;

}

.playvideo {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 10%;

}

.innerplaybutton:hover {
    background-color: blue;
    background-size: 150%;
}

#section-7 {
    background-color: #DCEAF5;
 
}


.latestblog {
    width: 70vw;
    margin: 0 auto;

}

.container7 {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.latestblog {
    margin-top: 15vh;
}

.blog123 {
    display: inline-block;
    background-color: white;
    border-radius: 8% 8% 8% 8%;
    margin-bottom: 3rem;
    width: 21vw;
}

.blog-1 {
    display: inline-block;
    width: 21vw;
    border-radius: 8% 8% 0 0;
}

.blogtext {
    padding-left: 5%;
    padding-right: 5%;
}

.learnmore {
    display: inline-block;
    padding-bottom: 2px;
}

.latestblognews {
    padding-top: 2.5rem;
}

footer {
    background-color: #063255;
    margin-top: 0;
}

.finsweet1 {
    color: white;
}

.columnfooter {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col1footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 2rem;
}

.col2footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2rem;
}

.col2a {
    display: flex;
    flex-flow: column wrap;
    padding-right: 2.5rem;
}
.col2b {
    display: flex;
    flex-flow: column wrap;
}

.col3footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 2rem;
}

.type-email-here {
    width: 100%;
    background-color: white;
    border-radius: 20rem;
}

.subscribe {
    display: inline-block;
    width: 10rem;
    background-color: #F58A07;
    border-radius: 20rem;
    text-align: center;
    padding-top: 0.7rem;
    height: 3rem;
}

.mailbox {
    display: inline-block;
    width: 20rem;
    background-color: #ffffff;
    border-radius: 20rem;
    padding: 1rem 0.5rem;
    height: 2rem;
    align-items: center;
}

.footerleft {
    display: inline-block;
    width: 2rem; 
    border-top-right-radius: .7rem; 
    color: #F58A07; 
    height: 4rem;
    background-color: #F58A07;
}

.footerright {
    display: inline-block;
    width: 2rem; 
    border-top-left-radius: .7px;
    border-bottom-left-radius: .7px;
    color: #F58A07; 
    height: 10rem;
    background-color: #F58A07;
    position: absolute;
    left: 100%;
}

footer .footerleft {
    align-items: flex-end;
}
footer .footerright {
    align-items: center;
}