/* This is the style  */
@font-face {
    font-family: 'Poppins';
    src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

* {
    box-sizing: border-box;
}
body {
    background: #FFFFFF;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
    
}   

.container {
    width: 67%;
    margin: 0 auto;
    display: flex;
    
}

.finsweet-logo {
    background-image: url("../images/Logo.svg");
    width: 122px;
    height: 28px;
}

a {
    text-decoration: none;
}

.nav-menu {
    width: 100%;
    height: 52px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-menu a {
    color: #493d39;

}

.nav-items {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 32px;
}

#call-to-action {
    color: #F58A07;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    padding: 1em 1.5em;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
}







