 * {
     /* max-width: 1920px;
    height: ; */
     margin: 0 auto;
     padding: 0;
     font-family: 'Poppins', sans-serif;
 }

 header {
     /* min-height: 100vh;
     width: 100%;
     background-color: #fff; */

 }

 nav {
     height: 52px;
     width: 1920px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
 }

 .nav-bar {
     /* flex: 1; */
     text-align: right;
     display: flex;
     justify-content: space-between;
     align-items: center;


 }

 .nav-bar ul li {
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;

 }

 .nav-bar ul li a {
     text-decoration: none;
     color: #394149;
 }

 .call {
     color: #F58A07;
     padding: 10px 30px;
     margin-left: 40px;
     background: rgba(245, 138, 7, 0.1);
     border-radius: 31px;

 }

 .head {
     height: 703px;
     width: 1933px;
     background-color: #DCEAF5;
     /* position: relative; */
     margin: 0;
     display: flex;
 }


 .head-man {
     height: 618px;
     width: 747px;
     margin-top: auto;
 }

 .text-box {
     margin: 117px 0px 0px 325px;
 }

 .head p {
     font-size: 18px;
     font-weight: 500;
     line-height: 30px;
     font-style: normal;
     line-height: 30px;
     color: #5B5B5B;
     margin-top: 12px;

 }

 .head h1 {
     font-weight: 600;
     font-size: 64px;
     line-height: 72px;
     letter-spacing: -0.03em;
     color: #1D3444;
 }

 .services {
     height: 54px;
     width: 364px;
     margin-top: 32px;
     display: flex;
     justify-content: flex-start;

 }

 .our {
     /* 199px 54px 449px 320px; */
     padding: 10px;
     background: #F58A07;
     border-radius: 27px;
     text-decoration: none;
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 106.5%;
     text-transform: capitalize;
     color: #FFFFFF
 }

 .all {
     text-decoration: none;
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 106.5%;
     text-transform: capitalize;
     color: #1D3444
 }