h1 {
  text-align: center;
}
.myform {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
  width: 450px;
  margin: auto;
}
input {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.gender-container {
  display: flex;
  width: 233px;
  justify-content: space-between;
  border: 1px solid gray;
}
textarea {
  margin-bottom: 10px;
}
