.backcolorblog{
    max-width: 1280px;
    margin: 0 auto;

}

.col31020{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.containerblog{
    max-width: 1920;
    height: 749px;
    background-color: #DCEAF5;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: space-between;
    
}
.containerblog2{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.containerblog3{
    max-width: 450px;
    margin-right: 50px;
}
.backimgblog{
    border-radius: 20px;
    width: 550px;
    height: 400px;
    background-image: url(../images/Image6.png);
    
}
