.careerscss{
    max-width: 1280px;
    margin: 0 auto;    
}

.careerscss2{
    display: flex;
    flex-direction: row;
    /* justify-content:flex-start; */
    flex-wrap: wrap;
    gap: 40px 40px;
}
.boxbackname{
    background-color: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    width: 360px;
    height: 181px;
    /* margin-right: 20px; */
    margin-bottom: 40px;
    padding-left: 40px;
}