body{
    /* width: 1920px; */
}
.container{
    max-width: 1280px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0 auto;
}
.nav-menu{
    border: 1px dotted black;
    align-items: center;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu2{
    border: 1px dotted black;

}
.nav-menu a{
    text-decoration-line: none;
    color: black;
    font-size: 16px;
    margin-right: 20px;
}
#call{
    background: rgba(245, 138, 7, 0.1);
    padding: 20px 30px;
    margin: 10px;
    border-radius: 20px;
    color: #f58a07;
    text-decoration-line: none;
}
.slide{
    height: 700px;
    background-color: #dceaf5;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-image: url("https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/header-image.png"); */
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: inherit;
}
.slidetext{
    max-width: 600px;
}
p{
    font-size: 18px;
    line-height: 30px;
}
#seeour{
    background-color: #F58A07;
    padding: 20px 30px;
    border-radius: 50px;
    text-decoration-line: none;
    color: white;
    margin-top: 20px;
}
*{
    font-family: 'Poppins', sans-serif;
}
 .dedgarchig{    
    max-width: 1280px;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 600;
 }
 .row{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }
 .col{    
    width: 400px;
    height: 242px;
 }
 img{
    border-radius: 25px;
    /* margin-right: 100px; */
 }
 a{
    color: #F58A07;
 }
 .slideback{
    
    height: 665px;
    background-color: #dceaf5; 
    margin-top: 300px;
}
.slidenews{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2{
    font-size: 36px;
    font-weight: 600;
}
.boxframe{
    display: flex;
    justify-content: space-between;
}
.slideframe{
    max-width: 1280px;
    margin: 0 auto;
}
.box{
    background-color: white;
    border-radius: 25px;
    width: 400px;
    height: 277px;
}