* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;    
}
.navbar {
    display: flex;
    max-width: 1280px;
    height: 52px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 657px;
}
.nav-items {
    width: 437px;
    display: flex;
    justify-content: space-between;
    
}
.button1 {
    width: 173px;
    height: 52px;
    color:rgba(245, 138, 7, 1);
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    height: 0 auto;
    text-decoration: none;
    color: #394149;
}
header {
    max-width: 1280px;
    margin: 108px auto 0px;
    
}
.career-02-header-text {
    display: flex;
    gap: 280px;
}
.career-02-header-header {
    font-size: 64px;
    color: rgba(29, 52, 68, 1);
    line-height: 72px;
    letter-spacing: -0.03em;
    margin-bottom: 64px;
}
.career-02-header-text-header {
    font-size: 24px;
    color: rgba(13, 19, 23, 1);
}
.career-02-header-text-text {
    font-size: 18px;
    line-height: 30px;
    color: rgba(91, 91, 91, 1);
    
}
.career-02-header-text-div:nth-child(1) {
    max-width: 640px;
}
.career-detail {
    display: flex;
    max-width: 1280px;
    background-color: rgba(193, 228, 255, 0.3);
    margin: 64px auto 0px;
    border-radius: 20px;
    padding: 64px 94px 69px 68px;
    gap: 92px
}
.career-detail-sub1 {
   max-width: 184px;
   font-size: 24px;
   color: rgba(13, 19, 23, 1); 
   letter-spacing: -0.03em;
}
.career-detail-sub1 div:nth-child(1) {
    max-width: 184px;
    font-size: 24px;
    color:rgba(245, 138, 7, 1); 
    letter-spacing: -0.03em;
 }
 .career-detail-sub1 div {
    margin-bottom: 40px;
 }
.career-detail-sub2 {
    max-width: 842px;
    color: rgba(91, 91, 91, 1);
    font-size: 16px;
    line-height: 28px;
}
.career-detail-sub2 p {
    margin-top: 0;
    margin-bottom: 0;
}
.career-apply {
    max-width: 1280px;
    margin: 128px auto 0px;
}
.aplly-section-header {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: rgba(13, 19, 23, 1);
    margin-bottom: 51px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
form div {
    display: flex;
    gap: 24px;
}
main input {
    width: 49%;
    height: 54px;
    border-radius: 27px;
    background-color: rgba(210, 218, 237, 0.17);
    padding: 17px 0px 18px 32px;
    border: 0;
}
textarea {
    border-radius: 27px;
    background-color: rgba(210, 218, 237, 0.17);
    margin-top: 24px;
    border: 0;
    font-family: 'Poppins', sans-serif;
    padding-top: 17px;
    padding-left: 32px; 
}
main ::placeholder {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;  
  
}
main button {
    background-color: rgba(245, 138, 7, 1);
    color: rgba(255, 255, 255, 1); 
    font-size: 16px;
    padding: 18px 32px 18px 32px;
    border-radius: 31px;
    margin: 32px 0px 128px 0px;
    border: none;
}
footer {
    background-color: rgba(6, 50, 85, 1);
    display: flex;
    justify-content: center;
    padding: 80px 0px 80px 0px;
    color: rgba(255, 255, 255, 1);
    position: relative;
}
footer .footer-content {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    justify-content: space-between;
}
.footer-sub {
    display: flex;
    justify-content: space-between;
    width: 1280px;
}
.footer-sub1 {
    display: flex;
    justify-content: space-between;
    width: 1280px;
}
.footer-sub1-1 {
    display: flex;
    gap: 32px;
}
footer p {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}
footer .header4 {
    font-size: 27px;
}
#footer-moto {
    font-size: 36px;
    max-width: 351px;
}
.footer-logos {
    max-width: 136px;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
#type-email {
    font-size: 19px;
    color: rgba(156, 156, 156, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 31px;
    padding: 18px 188px 18px 32px;
    margin-top: 24px;
}
.button6 {
    background-color: rgba(245, 138, 7, 1);
    padding: 18px 32px 18px 32px;
    border-radius: 31px;
    position: absolute;
    top: 145px;
}
#footer-email {
    display: flex;
    flex-direction: column;
    position: relative;
}
#footer-shape-1 {
    position: absolute;
    left: 0px;
    bottom: -8px;
}
#footer-shape-2 {
    position: absolute;
    right: 0px;
    top: 38px;
}
.footer-email-input {
    border: none;
    font-size: 18px;
    border-radius: 31px;
    padding: 18px 188px 17px 32px;
    margin-top: 24px;
    font-family: 'Poppins', sans-serif; 
    background-color: rgba(255, 255, 255, 1); 
}
.footer-subscribe-button {
    background-color: rgba(245, 138, 7, 1);
    color: rgba(255, 255, 255, 1); 
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    padding: 18px 32px 18px 32px;
    border-radius: 31px;
    width: 46%;
    min-width: 120px;
    margin-top: 16px;
}
footer ::placeholder {
    font-size: 16px;
    padding-top: 17px; 
    font-family: 'Poppins', sans-serif;  
}