* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;    
}
.navbar {
    display: flex;
    max-width: 1280px;
    height: 52px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 657px;
}
.nav-items {
    width: 437px;
    display: flex;
    justify-content: space-between;
    
}
.button1 {
    width: 173px;
    height: 52px;
    color:rgba(245, 138, 7, 1);
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    height: 0 auto;
    text-decoration: none;
    color: #394149;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 703px;
    background-color: #DCEAF5;
    margin-top: 16px;
}
.header-text {
    display: flex;
    flex-direction: column;
    width: 576px;
    height: 439px;
}
.header-text h1 {
    font-size: 48px;
    color: #1D3444;
}
.header-text p {
    font-size: 18px;
    color: #5B5B5B;
}
.header-text div {
    display: flex;
    align-items: center;
}
.button2 {
    background-color: rgba(245, 138, 7, 1);
    border-radius: 27px;
    color: rgba(255, 255, 255, 1);
    padding: 15px;
    width: 30%;
    display: flex;
    justify-content: center;
}
#SAS {
    margin-left: 40px;
    color: #1D3444;
}
#P2 {
    color: rgba(57, 65, 73, 0.5);
}
.header-logos {
    display: flex;
    justify-content: space-between;
}
.header-image {
    display: flex;
    align-content: flex-end;
    margin-left: 57px;
}
.help-section {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}
.help-section h2 {
    max-width: 735px; 
    max-height: 112px;
    color: rgba(29, 52, 68, 1);
    font-size: 48px;
    letter-spacing: -0.03em;
}
.section-div1 {
    max-width: 735px; 
    max-height: 90px;
    color: rgba(91, 91, 91, 1);
    font-size: 18px;
    line-height: 30px;
}
.help {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    max-height: 447px;
    margin-top: 64px;
}
.help-sub {
    max-width: 400px; 
}
.help-sub img {
    border-radius: 20px;
}
h3 {
    color: rgba(13, 19, 23, 1);
    font-size: 24px;
}
p {
    font-size: 16px;
    color: rgba(91, 91, 91, 1);
}
.button3 {
    color: rgba(245, 138, 7, 1);
    
}
.button3:after {
    content: '\2192';
}
.features-section {
    display: flex;
    flex-direction: column;
    max-height: 665px;
    justify-content: center;
    background-color: rgba(237, 247, 255, 1);
    margin-top: 96px;
    
}
.features-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
    
}
.features {
    display: flex;
    justify-content: center;
}
.features-text1 {
    width: 619px;
    height: 132px;
    font-size: 36px;
    color: rgba(13, 19, 23, 1);
}
.features-text2 {
    width: 620px;
    height: 102px;
    font-size: 18px;
    color: rgba(29, 52, 68, 1);
    margin-left: 40px;
}
.features-sub {
    width: 401px;
    height: 277px;
    background-color: #FFFFFF;
    margin: 80px 20px 20px 20px;
    padding: 40px 26px 37px 40px;
    border-radius: 20px;
}
.about-section {
    display: flex;
    max-width: 1280px;
    align-items: center;
    margin: 99px auto 0px;
}
.about-text {
    display: flex;
    max-width: 596px;
    flex-direction: column;
    margin-right: 47px;
}
.about-sub {
    display: flex;
}
.about-sub div {
    margin: 28px 28px 0px 0px;
}
.about-sub div div {
    color: rgba(245, 138, 7, 1);
    font-size: 36px;
    margin: 0px 0px 0px 0px;
}
.about-section h2 {
    max-width: 596px;
    max-height: 190px;
    font-size: 48px;
    color: rgba(13, 19, 23, 1);
    letter-spacing: -0.03em;
}
.about-section .img {
    width: 637px;
    height: 670px;
    border-radius: 20px;
    background-image: url("https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/about-image.png");

}
.about-section .img .img-background {
    width: 153px;
    height: 670px;
    border-radius: 20px 0px 0px 20px;
    background-color:rgba(245, 138, 7, 1);
    mix-blend-mode: multiply;
}
.service-section {
    position: relative;
    display: flex;
    background-color: rgba(237, 247, 255, 1);
    margin: 96px auto 0px;
    padding: 48px;
    max-width: 1295px;
    justify-content: center;
    align-content: center;
    gap: 132px;
    /* background-image: url("../images/Ribbon.png");
    background-repeat: no-repeat;
    background-position: right top; */
}
.service-section .img1 {
    width: 472px;
    height: 466px;
    border-radius: 20px;
    background-image: url("../images/team.png");

}
.service-section .img1 .img1-background {
    width: 120px;
    height: 466px;
    border-radius: 20px 0px 0px 20px;
    background-color:rgba(245, 138, 7, 1);
    mix-blend-mode: multiply;
}
.service-section-buttons {
    display: flex;
    flex-direction: row;
    max-width: 580px;
    justify-content: space-between;
}
.button5 {
    padding:7.5px;
    color: rgba(6, 50, 85, 0.3);
    border: 1px solid rgba(168, 188, 204, 1);
    border-radius: 31px;
}
.button4 {
    padding:7.5px;
    color: rgba(245, 138, 7, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 31px;
}
.service-section div h2 {
    max-width: 572px;
    max-height: 200px;
    font-size: 48px;
    color: rgba(13, 19, 23, 1);
    letter-spacing: -0.03em;
}
.service-section-text {
    max-width: 510px;
    max-height: 210px;
    font-size: 18px;
    color: rgba(91, 91, 91, 1);
}
.service-section img {
    position: absolute;
    top: -15px;
    right: -15px;
}
.CTA-section {
    display: flex;
    background-color: rgba(245, 138, 7, 1);
    max-height: 518px;
    margin-top: 128px;
}
.CTA-section-img {
    width: 50%;
    height: 518px;
    background-image: url("https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/experience-image.png");
    background-size: cover;
}
.CTA-section-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding-left: 128px;
}
.CTA-section-text p {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    max-width: 532px;
    letter-spacing: -0.03em;
}   
.CTA-section .button4 {
    padding: 19px 32px 19px 32px;
    max-width: 220px;
    max-height: 60px;
    font-size: 16px;
}
.video-section {
    display: flex;
    margin: 128px auto  0px;
    justify-content: center;
    max-width: 1280px;
    gap: 110px;
}
.video-section h2 {
    max-width: 550px;
    max-height: 200px;
    font-size: 48px;
    color: rgba(13, 19, 23, 1);
    letter-spacing: -0.03em;
}
.video-section-text {
    max-width: 550px;
}
.profile {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 40px;
}
.profile-name {
    color: rgba(6, 50, 85, 1);
    font-size: 24px;
}
.profile-position {
    color: rgba(245, 138, 7, 1);
    font-size: 18px;
}
#playbutton-section {
    display: flex;
    gap: 17px;
    position: absolute;
    left: 40px;
    bottom: 40px;
}
#playbutton {
    background: rgba(255, 255, 255, 1);
    padding: 17px;
    border-radius: 30px;
    width: 51px;
    height: 51px;
}
.video-section-img {
    position: relative;
    width: 620px;
    height: 501px;
    background-image: url("../images/video-image.png");
}
#playbutton-section p {
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
}


.lastest-section {
    background-color: rgba(220, 234, 245, 1);
    margin: 128px auto 0px;
    padding: 96px;
} 
.blog-items {
    display: flex;
    gap: 40px;
}
.latest-section-content {
    margin: 0 auto;
    max-width: 1280px;
}
.lastest-section h2 {
    color:rgba(13, 19, 23, 1);
    font-size: 48px;
}
.blog-sub {
    max-width: 400px; 
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px 20px 20px 20px;
}
.blog-sub img {
    border-radius: 20px 20px 0px 0px;
}
.blog-sub1 {
    padding: 32px;
}
footer {
    background-color: rgba(6, 50, 85, 1);
    display: flex;
    justify-content: center;
}
footer .footer-content {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    gap: 110px;
}
footer .footer-sub {
    display: flex;
    flex-direction: row;
}
footer .footer-sub1 {
    display: flex;
}
footer {
    background-color: rgba(6, 50, 85, 1);
    display: flex;
    justify-content: center;
    padding: 80px 0px 80px 0px;
    color: rgba(255, 255, 255, 1);
    position: relative;
}
footer .footer-content {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    justify-content: space-between;
}
.footer-sub {
    display: flex;
    justify-content: space-between;
    width: 1280px;
}
.footer-sub1 {
    display: flex;
    justify-content: space-between;
    width: 1280px;
}
.footer-sub1-1 {
    display: flex;
    gap: 32px;
}
footer p {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}
footer .header4 {
    font-size: 27px;
}
#footer-moto {
    font-size: 36px;
    max-width: 351px;
}
.footer-logos {
    max-width: 136px;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
#type-email {
    font-size: 19px;
    color: rgba(156, 156, 156, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 31px;
    padding: 18px 188px 18px 32px;
    margin-top: 24px;
}
.button6 {
    background-color: rgba(245, 138, 7, 1);
    padding: 18px 32px 18px 32px;
    border-radius: 31px;
    position: absolute;
    top: 145px;
}
#footer-email {
    display: flex;
    flex-direction: column;
    position: relative;
}
#footer-shape-1 {
    position: absolute;
    left: 0px;
    bottom: -8px;
}
#footer-shape-2 {
    position: absolute;
    right: 0px;
    top: 38px;
}
.footer-email-input {
    border: none;
    font-size: 18px;
    border-radius: 31px;
    padding: 18px 188px 17px 32px;
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;  
}
.footer-subscribe-button {
    background-color: rgba(245, 138, 7, 1);
    color: rgba(255, 255, 255, 1); 
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    padding: 18px 32px 18px 32px;
    border-radius: 31px;
    width: 46%;
    min-width: 120px;
    margin-top: 16px;
}
footer ::placeholder {
    font-size: 16px;
    padding-top: 17px; 
    font-family: 'Poppins', sans-serif;  
}