/* This is for home page */
*
{
    font-family: 'Poppins', sans-serif;
}
a { text-decoration: none; color: black; }
body 
{
    max-width: 1920px;
    height: 100%;
}
.container
{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    max-height: 52px;
    margin: 0 auto;
    margin-left: 20%;
}
.logo1
{
    display: flex;
    align-items: center;
}
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 657px;
}
.nav-menu
{
    display: flex;
    width: 437px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    color: black;

}
.button1
{
    display: flex;
    color: #F58A07;
    background-color:rgb(245,138,7,0.1) ;
    width: 173px;
    height: 52px;
    border: 1px solid black;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}
.container2
{
    display: flex;
    background-color: #DCEAF5;
    height: 703px;
    width: 100%;
    margin-top: 10px;
    align-items: center;
}
.text1
{
    display: flex;
    width: 576px;
    height: 439px;
    width: 50%;
    margin-left: 20%;
    flex-direction: column;
    justify-content: space-around;
}
.text1 h1
{
    font-size: 4em;
}
.img1
{
    margin-left: 53px;
    width: 50%;
}
.button2
{
    color: white;
    height: 54px;
    background-color: #F58A07;
    border-radius: 10px;
    padding: 0.5em;
}
.button4
{
    margin-left: 2em;
}