.blog-header {
    background-color: #DCEAF5;
    height: 749px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 102px;
}

.blog-text {
    width: 559px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blog-icon {
    display: flex;
    font-size: 16px;
    line-height: 32px;
}

.blog-icon :nth-child(2) {
    margin-right: 24px;
    margin-left: 8px;
}

.blog-header h1 {
    color: #1D3444;
    letter-spacing: -0.03rem;
    line-height: 72px;
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}

.blog-text p {
    line-height: 30px;
    font-weight: 500;
    margin: 0;
}

.blog-text a {
    font-weight: 500;
}

.blog-img img {
    border-radius: 20px;
    width: 621px;
    height: 493px;
    object-fit: cover; 
    object-position: 40% 0;
}

.blog {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px;
}

.blog .latest {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog h2 {
    line-height: 56px;
    margin-bottom: 14px;
    font-weight: 600;
}

.blog .col {
    background-color: #EDF7FF;
}