.careers-header {
    width: 616px;
    height: 650px;
    border-radius: 20px;
    background-image: url("../img/1.png");
}

.header-orange {
    width: 180px;
    height: 650px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}