* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 18px;
    color: #5B5B5B;
    /* width: 1920px; */
}

main a {
    color: #F58A07;
    text-decoration: none;
}

h2 {
    color: #0D1317;
    font-size: 48px;
    letter-spacing: -0.03rem;
}

h3 {
    font-size: 36px;
    color: #0D1317;
    letter-spacing: -0.03rem;
    margin: 0;
}

h4 {
    color: #0D1317;
    font-size: 24px;
    margin: 0;
}

/*header menu*/
header {
    max-width: 1280px;
    height: 52px;
    margin: 16px auto;
    /*add 320 side margin*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #394149;
    font-size: 16px;
    font-weight: 600;
    margin: 32px;
    display: flex;
    justify-content: space-between;
}

#cta {
    background-color: rgba(245, 138, 7, 0.1);
    color: #F58A07;
    padding: 18px 30px 17px 29px;
    border-radius: 31px;
}

/*part1 - slider*/
.slider {
    background-color: #DCEAF5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 703px;
}

.textbox {
    height: 439px;
    width: 576px;
    display: flex;
    flex-direction: column;
    margin: 117px 53px 140px 325px;
}

.textbox h1 {
    /* height: 144px; */
    letter-spacing: -0.3rem;
    line-height: 72px;
    font-size: 64px;
    color: #1D3444;
    font-weight: 600;
    margin: 0 auto;
}

.links {
    margin-top: 50px;
    margin-bottom: 75px;
}

#sos {
    background-color: #F58A07;
    color: #FFF;
    width: 199px;
    height: 54px;
    border-radius: 27px;
    padding: 18px 31px 19px 32px;
    font-size: 16px;
    font-weight: 600;
}

#sas {
    color: #1D3444;
    font-weight: 600;
    margin-left: 40px;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33px;
    width: 510px;
    margin-top: 12px;
    margin-bottom: 0;
}

.imgbox {
    width: 739px;
    height: 645px;
    margin: 58px 240px 0 0;
}

/* section-1 */
.section-1 {
    height: 932px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 h2 {
    width: 735px;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin: 0;
}

#textbox-1 {
    width: 735px;
    font-weight: 500;
    margin-top: 27px;
    margin-bottom: 64px;
}

.sectors {
    display: flex;
    justify-content: space-between;
    width: 1280px;
}

.section-1 .sectors div {
    width: 400px;
    height: 447px;
}

.section-1 img {
    border-radius: 20px;
}

/*section-2*/
.section-2 {
    height: 665px;
    background-color: #EDF7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textbox-2 {
    display: flex;
    width: 1280px;
    justify-content: space-between;
    margin-bottom: 64px;
}

.textbox-2 h3 {
    width: 620px;
    line-height: 44px;
    margin: 0;
}

.textbox-2 p {
    color: #1D3444;
    width: 620px;
    height: 102px;
    font-weight: 500;
    margin: 0;
}

.section-2 .sectors div {
    background-color: #FFF;
    width: 401px;
    height: 277px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 50px 26px 37px 39px;
}

.section-2 h4 {
    margin-top: 32px;
    margin-bottom: 16px;
    line-height: 26px;
}

.section-2 .sectors p {
    margin: 0;
    font-size: 16px;
}

/*section-3 about*/
.section-3 {
    height: 1672px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    height: 667px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    height: 549px;
    margin-right: 47px;
}

.about h2 {
    width: 596px;
    height: 157px;
    line-height: 56px;
    margin-bottom: 32px;
}

.about-text p {
    width: 510px;
    font-weight: 500;
    margin: 0;
}

.about-feature {
    margin-top: 48px;
    height: 192px;
    width: 560px;
    display: flex;
    justify-content: space-between;
}

.feature-1 {
    width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-2 {
    width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-feature h3 {
    font-family: 'Inter', sans-serif;
    color: #F58A07;
    letter-spacing: normal;
    line-height: 50px;
}

.about-feature p {
    width: auto;
    height: 84px;
    font-size: 16px;
    font-weight: 500;
}

.about-img {
    width: 637px;
    height: 667px;
    border-radius: 20px;
    background-image: url("https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/about-image.png");
}

.about-orange {
    width: 153px;
    height: 667px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}

/*section-3 service*/
.service {
    height: 698px;
    width: 1295px;
    display: flex;
}

.service-bg {
    background-color: #EDF7FF;
    width: 1274.39px;
    height: 682px;
    margin-top: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
    padding: 48px;
}

.ribbon {
    height: 178px;
    margin-left: -159px;
}

.service-info {
    display: flex;
    justify-content: space-between;
    width: 1184px;
}

.service-tab {
    width: 580px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.service-tab a {
    color: #0632554D;
    border: 1px solid #0632554D;
    border-radius: 31px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 8px 23px;
}

#tab-strategy {
    background-color: #FFF;
    color: #F58A07;
}

.service-text {
    display: flex;
    flex-direction: column;
}

.service-text h2 {
    width: 572px;
    line-height: 56px;
    margin-top: 80px;
    margin-bottom: 25px;
}

.service-text p {
    width: 510px;
    height: 210px;
    margin-top: 0;
    margin-bottom: 40px;
}

.service-text a {
    font-size: 16px;
    margin-bottom: 6px;
    height: 17px;
}

.service-img {
    background-image: url("../img/team.png");
    width: 472px;
    margin-top: 80px;
}

.service-orange {
    background-color: #F58A07;
    height: 466px;
    width: 120px;
    border-radius: 20px 0 0 20px;
    mix-blend-mode: multiply;
}

/*section-4*/
.section-4 {
    height: 518px;
    background-color: #F58A07;
    display: flex;
    align-items: center;
}


.cta-img {
    background-image: url(../img/cta.png);
    background-size: cover;
    width: 50vw;
    height: 518px;
}

.cta-right {
    display: flex;
    flex-direction: column;
    padding-left: 128px;
    width: 50vw;
}

.cta-right h2 {
    height: 168px;
    width: 532px;
    color: #FFF;
    line-height: 56px;
    font-weight: 600;
}

.cta-right a {
    width: 216px;
    height: 54px;
    border-radius: 31px;
    background-color: #FFF;
    color: #F58A07;
    padding: 18px 31px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

/*section-5*/
.section-5 {
    height: 757px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    display: flex;
    width: 1280px;
    height: 501px;
    justify-content: space-between;
}

.video-left {
    width: 550px;
}

.video-left h2 {
    height: 112px;
    line-height: 56px;
    margin-top: 78px;
    margin-bottom: 24px;
}

.video-left p {
    margin-bottom: 40px;
}

.ceo {
    height: 80px;
    display: flex;
}

.ceo-info {
    height: 80px;
    margin-left: 24px;
}

.ceo-info h4 {
    color: #063255;
    height: 41px;
    margin-top: 6px;
    font-weight: 500;
}

.ceo-info p {
    font-size: 18px;
    line-height: 31px;
    color: #F58A07;
    margin-top: -6px;
}

.video-img {
    background-image: url("../img/video-image.png");
    width: 620px;
    height: 501px;
    border-radius: 20px;
    position: relative;
}

.play {
    background-color: #FFF;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.play img {
    width: 17px;
    height: 17px;
}

.play-video {
    color: #FFF;
    line-height: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 57px;
    left: 108px;
}

/*upper footer latest*/
.upper-footer {
    background-color: #DCEAF5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 819px;
}

.latest {
    display: flex;
    flex-direction: column;
    width: 1280px;
}

.latest-sectors {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 400px;
    height: 507px;
    border-radius: 20px;
    background-color: #FFF;
}

.latest-sectors img {
    border-radius: 20px 20px 0 0;
    height: 230px;
    width: 400px;
}

.clean {
    margin: 32px;
}

/*footer*/
footer {
    background-color: #063255;
    color: #FFF;
    height: 463px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.footer-top {
    height: 199px;
    width: 1280px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-top p {

    margin: 0;
}

.stuff-inside {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-left img {
    height: 27px;
    width: 120px;
}

.footer-left p {
    font-size: 36px;
    font-weight: 600;
    width: 351px;
    line-height: 44px;
    margin: 0;
}

.media-logos {
    display: flex;
    justify-content: space-between;
}

.company {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.company a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}

.connect {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subscribe form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subscribe input {
    background-color: #FFF;
    color: #9c9c9c;
    padding: 17px 32px 18px;
    width: 342px;
    border-radius: 31px;
    border: solid #063255;
    font-size: 16px;
}

.subscribe button {
    background-color: #F58A07;
    color: #FFF;
    width: 156px;
    padding: 17px 32px 18px;
    border-radius: 31px;
    border: solid #063255;
    font-size: 18px;
    font-weight: 600;
}

.footer-bottom {
    width: 1283px;
    display: flex;
    justify-content: space-between;
}

.footer-tail {
    font-size: 16px;
    width: 301px;
    display: flex;
    font-weight: 500;
    gap: 39px;
}

.shape-left {
    position: absolute;
    left: 0;
    top: 319px;
}

.shape-right {
    position: absolute;
    right: 0;
    top: 38px;
}