* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 18px;
    color: #5B5B5B;
    /* width: 1920px; */
}

main a {
    color: #F58A07;
}

/* h1 {
    letter-spacing: -3%;
    line-height: calc(+8px);
    margin: 0 auto; 
}*/

h2 {
    color: #0D1317;
    font-size: 48px;
    letter-spacing: -0.03rem;
}

h3 {
    color: #0D1317;
    font-size: 24px;

}

/*header menu*/
header {
    max-width: 1280px;
    height: 52px;
    margin: 16px auto;
    /*add 320 side margin*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #394149;
    font-size: 16px;
    font-weight: 600;
    margin: 32px;
    display: flex;
    justify-content: space-between;
}

#cta {
    background-color: rgba(245, 138, 7, 0.1);
    color: #F58A07;
    padding: 18px 30px 17px 29px;
    border-radius: 31px;
}

/*part1 - slider*/
.slider {
    background-color: #DCEAF5;
    display: flex;
    align-items: center;
    height: 703px;
}

.textbox1 {
    /* border: 1px solid black; */
    height: 439px;
    width: 576px;
    display: flex;
    flex-direction: column;
    margin-left: 325px;
}

.textbox1 h1 {
    /* height: 144px; */
    letter-spacing: -3px;
    line-height: 72px;
    font-size: 64px;
    color: #1D3444;
    font-weight: 600;
    margin: 0 auto;
}

.links {
    margin-top: 50px;
    margin-bottom: 75px;
}

#sos {
    background-color: #F58A07;
    color: #FFF;
    width: 199px;
    height: 54px;
    border-radius: 27px;
    padding: 18px 31px 19px 32px;
    font-size: 16px;
    font-weight: 600;
}

#sas {
    color: #1D3444;
    font-weight: 600;
    margin-left: 40px;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33px;
    width: 510px;
    margin-top: 12px;
    margin-bottom: 0;
}

.imgbox1 {
    width: 739px;
    height: 645px;
    margin: 58px 240px 0 auto;
}

/* section1 */
.section1 {
    /* margin: 96px 320px;
    width: 1280px;
    max-height: 740px; */
    height: 932px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 h2 {
    width: 735px;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -3px;
    color: #1D3444;
    margin: 0;
}

#textbox2 {
    width: 735px;
    font-weight: 500;
    margin-top: 27px;
    margin-bottom: 64px;
}

.sectors {
    display: flex;
    justify-content: space-between;
    width: 1280px;
}

.sectors div {
    width: 400px;
    height: 447px;
}

.sectors div img {
    border-radius: 20px;
}

/*upper footer latest*/
.upper-footer {
    background-color: #DCEAF5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 819px;
}

.latest {
    display: flex;
    flex-direction: column;
    width: 1280px;
}

.latest-sectors {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 400px;
    height: 507px;
    border-radius: 20px;
    background-color: #ffffff;
}

.latest-sectors img {
    border-radius: 20px 20px 0 0;
    height: 230px;
    width: 400px;
}

.clean {
    margin: 32px;
}

/*footer*/
footer {
    background-color: #063255;
    color: rgb(255, 255, 255);
    height: 463px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-box {
    height: 199px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.namebox p {
    font-size: 36px;
    font-weight: 600;
    width: 351px;
    display: flex;
    
}

.company-box {
    display: flex;
    flex-direction: column;
}

.company-box a {
    text-decoration: none;
    color:#FFF;
}

.footer-end {
    width: 1283px;
    display: flex;
    justify-content: space-between;
}

.footer-tail {
    width: 301px;
    display: flex;
    justify-content: space-between;
}