/* Header style*/

.header-text {
    width: 45%;
    margin: 8rem auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.header-text p,
.section-text p {
    margin: 1rem 0;
}

.header-image {
    position: relative;
    margin: 0 auto;

}

.box-image {
    border-radius: 20px;
}

.avatar-set {
    justify-content: flex-start;
    gap: 20px;
}

/* Section style*/


/* Latest section style*/
.latest .section-text h1 {
    padding-top: 3rem;
}

.latest article img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.latest article {
    background-color: #DCEAF5;
    border-radius: 20px;
}

.article-text {
    padding: 0 2rem 2rem 2rem;
    margin: 0 auto;
}

article {
    width: 400px;
    margin: 0 auto 4rem auto;
}

article img {
    border-radius: 20px;
}

article.col-2 {
    width: 48%;
}