html {
    font-family: "Poppins";
}

.nav-container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;

}

.nav-menu {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 437px;
    color: #394149;
    padding-left: 501px;


}

.button {
    background-color: #FEF3E6;
    color: #F58A07;
    width: 173px;
    height: 52px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-menu a {
    text-decoration: none;
    color: #394149;
    font-weight: bolder;
}

header {
    background-color: #DCEAF5;
    height: 749px;
}

.header-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 128px;

}

.header-text {
    width: 559px;
    height: 749ppx;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

.header-member {
    display: flex;
    width: 409px;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #394149;
    opacity: 0.87;
}

.header-member img {
    width: 32px;
    height: 32px;
}

.header-text1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin: 0px;
}

.header-text2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.header-text3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}

.header-img {
    width: 621px;
    height: 493px;
    border-radius: 20px;
}

.latest-section {
    margin: 0 auto;
    margin-top: 28px;

}

.latest-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
    ;
    margin-right: 800px;
}

.latest-posts {
    max-width: 1280px;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

}

.latest-posts img {
    border-radius: 20px;
    width: 400px;
    height: 230px;
}

.latest-1 {
    background-color: #EDF7FF;
    border-radius: 20px;
    width: 400px;
    margin-bottom: 40px;
}

.latest-2 {
    background-color: #EDF7FF;
    border-radius: 20px;
    width: 400px;
    margin-bottom: 40px;
}

.latest-3 {
    background-color: #EDF7FF;
    border-radius: 20px;
    width: 400px;
    margin-bottom: 40px;
}

.latest-1 :nth-child(2),
.latest-2 :nth-child(2),
.latest-3 :nth-child(2) {
    color: #0D1317;
    font-size: 24px;
    padding-left: 32px;
    font-weight: 600;
    line-height: 36px;
    width: 336px
}


.latest-1 :nth-child(3),
.latest-2 :nth-child(3),
.latest-3 :nth-child(3) {
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    width: 336px;
    padding-left: 32px;
}

.latest-1 :nth-child(4),
.latest-2 :nth-child(4),
.latest-3 :nth-child(4) {
    color: #F58A07;
    padding-left: 32px;
}

footer {
    background-color: #063255;
    height: 463px;
    margin-top: 88px;
}


.footer-top {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 80px
}

.company {
    color: white;
}

.connect {
    color: white;
}

.subscribe :nth-child(2) {
    background-color: #FFF;
    width: 342px;
    height: 54px;
    border-radius: 27px;
    color: #9C9C9C;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.subscribe :nth-child(3) {
    background-color: #F58A07;
    width: 156px;
    height: 54px;
    border-radius: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    color: white;
}

.footer-bottom :nth-child(2) {
    margin-left: 710px;
}