html {
    font-family: "Poppins";
}

.nav-container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;

}

.nav-menu {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 437px;
    color: #394149;
    padding-left: 501px;


}

.button {
    background-color: #FEF3E6;
    color: #F58A07;
    width: 173px;
    height: 52px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-menu a {
    text-decoration: none;
    color: #394149;
    font-weight: bolder;
}

header {
    max-width: 1280px;
    margin: 0 auto;
}

.header-text {
    font-weight: 600;
font-size: 64px;
line-height: 72px;
letter-spacing: -0.03em;
color: #1D3444;
}

.jobs {
    display: flex;
}

.job-text1 {
    font-weight: 500;
font-size: 24px;
line-height: 30px;
letter-spacing: -0.03em;
color: #0D1317;
}

.job-text2 {
    font-weight: 500;
font-size: 18px;
line-height: 30px;
color: #5B5B5B;
margin-right: 284px;
}

.job-text3 {
    font-weight: 500;
font-size: 18px;
line-height: 30px;
color: #5B5B5B;
}

.detail-section {
    max-width: 1280px;
    background-color: #C1E4FF4D;
    margin: 0 auto;
    height: 441px;
    border-radius: 20px;
    margin-top: 64px;
}

.detail-container {
    display: flex;
    box-sizing: border-box;
    padding: 64px 94px 69px 68px;
    justify-content: space-between;
}

.topics :nth-child(2), .topics :nth-child(3) {
font-weight: 600;
font-size: 24px;
line-height: 108.5%;
color:#0D1317;
margin-bottom: 40px;
}

.topics :nth-child(1) {
    font-weight: 600;
    font-size: 24px;
    line-height: 108.5%;
    color:#F58A07;
    margin-bottom: 40px;
    }
.detail p {
    font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #5B5B5B;
width: 842px;
height: 308px;

}