html {
    font-family: "Poppins";
}


.nav-container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;

}

.nav-menu {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 437px;
    color: #394149;
    padding-left: 501px;


}

.button {
    background-color: #FEF3E6;
    color: #F58A07;
    width: 173px;
    height: 52px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-menu a {
    text-decoration: none;
    color: #394149;
    font-weight: bolder;
}

.header-container {
    background-color: #DCEAF5;
    height: 703px;
}

.header-man {
    width: 747px;
    height: 618px;
    padding-top: 85px;
    padding-left: 53px;

}

.header-content {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
}

.header-text {
    padding-top: 117px;
    width: 576px;
    height: 439px;
    box-sizing: border-box;
}

.header-text1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 117px;
    color: #1D3444;
    margin: 0;
}

.header-text2 {
    font-size: 60px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.header-button {
    display: flex;
    margin-top: 32px;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 0;
}

.header-button :nth-child(1) {
    font-size: 16px;
    background-color: #F58A07;
    width: 197px;
    height: 54px;
    border-radius: 27px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.header-text3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #39414980;
}

.header-logo {
    display: flex;
    justify-content: space-between;
}

.help-section {
    max-width: 1280px;
    align-items: center;
    margin: 0 auto;
}

.help-text :first-child {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    width: 735px;
    color: #1D3444;
}

.help-text :nth-child(2) {
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    width: 735px;

}

.help-posts {
    max-width: 1280px;
    height: 447px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 64px;
}

.help-posts img {
    border-radius: 20px;
    width: 400px;
}

.help-1 :nth-child(2),
.help-2 :nth-child(2),
.help-3 :nth-child(2) {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #0D1317;
}


.help-1 :nth-child(3),
.help-2 :nth-child(3),
.help-3 :nth-child(3) {
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    width: 400px;
}

.help-1 :nth-child(4),
.help-2 :nth-child(4),
.help-3 :nth-child(4) {
    color: #F58A07;
}

.feature-section {
    background-color: #EDF7FF;
    height: 665px;
    margin-top: 96px;

}

.feature-text {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    flex-direction: row;
    padding-top: 96px;

}

.feature-text :nth-child(1) {
    width: 619px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 0px;
}

.feature-text :nth-child(2) {
    width: 619px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0px;
}

.feature-posts {
    max-width: 1280px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
}

.feature-1 {
    width: 401px;
    height: 277px;
    background-color: white;
    border-radius: 20px;
    align-content: center;
    box-sizing: border-box;
    padding-left: 39px;


}

.feature-2 {
    width: 401px;
    height: 277px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 39px;

}

.feature-3 {
    width: 401px;
    height: 277px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 39px;

}

.feature-1 :nth-child(2),
.feature-2 :nth-child(2),
.feature-3 :nth-child(2) {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #0D1317;
}

.feature-1 :nth-child(3),
.feature-2 :nth-child(3),
.feature-3 :nth-child(3) {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}

.feature-1 :nth-child(1),
.feature-2 :nth-child(1),
.feature-3 :nth-child(1) {
    padding-top: 48px;
}

.about-section {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding-top: 99px;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    width: 596px;
    height: 549px;
}

.about-img {
    background-image: url(https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/about-image.png);
    width: 638px;
    height: 670px;
    border-radius: 20px;
}

.orange-about {
    background-color: #F58A07;
    width: 153px;
    height: 670px;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}

.about-feature-container {
    display: flex;
}

.about-feature1 :nth-child(1),
.about-feature2 :nth-child(1) {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
    margin: 16px 0 16px 0;
}

.about-feature1 :nth-child(2),
.about-feature2 :nth-child(2) {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #0D1317;
}

.about-feature1 :nth-child(3),
.about-feature2 :nth-child(3) {

    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.service-section {
    max-width: 1280px;
    margin: 0 auto;
    background: #EDF7FF;
    border-radius: 20px;
    margin-top: 95px;
    height: 682px;
    margin-bottom: 128px;
}

.service-tab {
    display: flex;
}

.service-tab :nth-child(1) {
    font-size: 16px;
    background-color: #FFFFFF;
    width: 194px;
    height: 40px;
    border-radius: 31px;
    color: #F58A07;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0 0 48px;

}

.service-tab :nth-child(2) {
    font-size: 16px;
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    width: 194px;
    height: 40px;
    color: #0632554D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0 0 48px;

}

.service-tab :nth-child(3) {
    font-size: 16px;
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    width: 194px;
    height: 40px;
    color: #0632554D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0 0 48px;

}

.service-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 88px;
}

.service-container img {
    width: 472px;
    height: 466px;

}

.CTA-section {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
}

.CTA-section img {
    width: 963px;
    height: 518px;
}

.CTA-right {
    background-color: #F58A07;
    width: 960px;
    height: 518px;

}

.CTA-right :nth-child(2) {
    font-size: 16px;
    background-color: #FFFFFF;
    width: 216px;
    height: 54px;
    border-radius: 31px;
    color: #F58A07;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 616px 128px 128px;
}


.section7 {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    margin-top: 128px;
}

.section7-img {
    background-image: url(/Battulga/Assignment/Images/Image\ \(6\).png);
    width: 620px;
    height: 501px;
    border-radius: 20px
}

.section7-text {
    width: 583px;
    height: 501px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section7-text1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
    margin-bottom: 24px;
}


.section7-text2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.profile {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
}

.profile-1 img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.profile-2 {
    margin: 0 0 0 24px
}

.profile-2 :nth-child(1) {
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    color: #063255;
    margin: 0;
}

.profile-2 :nth-child(2) {
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #F58A07;
    margin: 0;
}

.latest-section {
    background-color: #EDF7FF;
    height: 819px;
    margin: 0 auto;
    margin-top: 128px;
}

.latest-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
    padding-top: 96px;
    margin-right: 800px;
}

.latest-posts {
    max-width: 1280px;
    height: 507px;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

}

.latest-text {
    margin-top: 0px;
}

.latest-posts img {
    border-radius: 20px;
    width: 400px;
    height: 230px;
}

.latest-1 {
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 507px;
}

.latest-2 {
    background-color: white;
    border-radius: 20px;
    width: 400px;
}

.latest-3 {
    background-color: white;
    border-radius: 20px;
    width: 400px;
}

.latest-1 :nth-child(2),
.latest-2 :nth-child(2),
.latest-3 :nth-child(2) {
    color: #0D1317;
    font-size: 24px;
    padding-left: 32px;
    font-weight: 600;
    line-height: 36px;
    width: 336px
}


.latest-1 :nth-child(3),
.latest-2 :nth-child(3),
.latest-3 :nth-child(3) {
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    width: 336px;
    padding-left: 32px;
}

.latest-1 :nth-child(4),
.latest-2 :nth-child(4),
.latest-3 :nth-child(4) {
    color: #F58A07;
    padding-left: 32px;
    text-decoration: none;
}

footer {
    background-color: #063255;
    height: 463px;
    position: relative;
}


.footer-top {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 80px
}

.company {
    color: white;
}

.connect {
    color: white;
}

.form1 {
    background-color: #FFF;
    width: 342px;
    height: 54px;
    border-radius: 27px;
    color: #9C9C9C;
    display: flex;
    align-items: center;
    padding-left: 32px;
    border: 0;
}

button {
    background-color: #F58A07;
    width: 156px;
    height: 54px;
    border-radius: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 106.5%;
    margin-top: 16px;
}

.footer-bottom {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    color: white;
}

.footer-bottom :nth-child(2) {
    margin-left: 710px;
}

.footer-orange1 {
    width: 53px;
    height: 144px;
    background-color: #F58A07;
    border-radius: 0 20px 0 0;
    position: absolute;
    bottom: 0;
    left: 0px;
}

.footer-orange2 {
    width: 53px;
    height: 287px;
    right: 0;
    bottom: 138px;
    background-color: #F58A07;
    border-radius: 20px 0 0 20px;
    position: absolute;
}

.social {
    width: 136px;
    height: 20px;
    display: flex;
    gap: 24px;
    margin-top: 32px;
}