body{
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;

}

.container{
    margin: 0 auto;
    width: 1280px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid */
}

#callAction{
    /* padding: 20px; */
    display:inline-block;
    text-align:center;
    margin-left:30px;
    border-radius: 31px;
    background-color: rgba(245, 138, 7, 0.1);
    color:#F58A07;
    width: 173px;
}

a{
    padding: 16px;
    text-decoration: none;
    color: black;
}

.header{
    background-color: #DCEAF5;
    /* width: 100vw; */
}

