/* Header style*/

.box-image {
   max-width: 100%;
   height: auto;
   padding: 0;
   margin: 0;
   border-radius: 20px;
   background-size: cover;
   background-position: center;
}

.avatar-set {
   justify-content: flex-start;
   gap: 20px;
}

article {
   max-width: 750px;
   padding: 6rem 0;
   margin: 0 auto;
}

article h1 {
   letter-spacing: -0.03em;
}

article h1:first-of-type {
   margin-top: 0;
}

article p {
   line-height: 28px;
}